body{
    background-color: #202020;
}
.hero{
    height:80vh;
}
.title{
    color:white;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 200px;
    font-size:30px;

}
.cc{
    display:flex;
    justify-content: center;
    align-items: center;
}

#c{
    color: #1eff00;
}
.vitb{
    display: flex;
    justify-content: center;
    align-items: center;
}
.join{
    background-color: white;
    color:black;
    font-family: 'Times New Roman', Times, serif;
    height:50px;
    width: 200px;
    font-size: 18px;
    border:none;
    border-radius: 10px;
    cursor: pointer;
}
#join{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:100px;
}

.join:hover{
    background-color: #1eff00;
    border: 1px solid white;
    transition:0.5s;
}
.form{
    background-color: #404040;
    width:250px;
    margin:auto;
    border-radius: 10px;
    padding:50px;
    margin-top:100px;
    margin-bottom:100px;
    color:white;
    
}
.su{
    width: 100%;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
input{
    height:30px;
    width:100%;
    border-radius:5px;
    margin:0;
    text-indent: 10px;
    outline: none;
    border:none;
}
input:hover{
    background-color: #1eff00;
    transition: 0.5s;
}

.sub{
    background-color: white;
    color:black;
    font-family: 'Times New Roman', Times, serif;
    height:35px;
    width: 100px;
    font-size: 18px;
    border:none;
    border-radius: 10px;
    cursor: pointer;
    display: block;
    margin:auto;
}
.sub:hover{
    background-color: #1eff00;
    border: 1px solid white;
    transition:0.5s;
}    